@import 'variables';
@import 'mixins';
@import 'base';
@import 'layout';
@import 'components';



body {
  background-color: $primary-color;
  font-family: Arial, sans-serif;
}

h1 {
  color: white;
}